%badge-base {
  .badge-content {
    display: inline-block;
    position: relative;

    .badge-icon {
      display: inline-block;
      width: 14px;
      height: 14px;
    }

    .badge-text {
      @include text-style(9, $light-blue);
      font-family: $font-title;
    }
  }
}

.badge-group {
  @include flex;
  height: 40px;
  width: auto;
  border-radius: 2px;
  overflow: hidden;

  .badge {
    @extend %badge-base;
    width: 30px;
    height: 100%;
    padding: 0 8px;
    transition: opacity 350ms ease-in-out;

    &-more {
      color: $light-blue;
      background-color: $medium-blue;
    }

    &-content {
      // top: 2px; // NOTE: visual alignment as a independent component
      width: 14px;
      height: 14px;
    }

    &-edit {
      border-right: 1px solid rgba($light-blue, 0.2);
      color: $light-blue;
      background-color: $medium-blue;
    }

    &-archive {
      color: $light-blue;
      background-color: $medium-blue;
    }

    &-delete {
      color: $light-blue;
      background-color: $red;
    }

    &:active {
      opacity: 0.4;
    }
  }

  @include responsive(T) {
    height: 24px;

    .badge {
      width: auto;
      padding: 2px 8px;
      border-radius: 2px;

      &-content {
        top: 1px; // NOTE: visual alignment when used in .list-group
        width: auto;
        // height: 100%; // NOTE: visual alignment as a independent component
      }

      &-edit {
        border-right: 0;
        margin-right: 8px;
      }

      &-archive {
        margin-right: 8px;
      }

      &:hover {
        opacity: 0.4;
      }
    }
  }
}
