%badge-base {
  @include text-style(9, $light-blue);
  font-family: $font-title;
  color: $light-blue;
}

%badge-sm-base {
  @include flex;
  width: 30px;
  padding: 19px 8px;
  transition: opacity 350ms ease-in-out;

  i {
    font-size: 14px;
  }

  &:active {
    opacity: 0.4;
  }
}

%badge-md-base {
  padding: 4px 8px;
  border-radius: 2px;
  transition: opacity 350ms ease-in-out;

  &:hover {
    opacity: 0.4;
  }
}

.badge-group {
  @include flex;
  height: 100%;
}

.badge {
  @extend %badge-base;
}

.badge-sm {
  height: 100%;

  &-more {
    @extend %badge-sm-base;
    border-radius: 2px;
    background-color: $medium-blue;
  }

  &-hidden {
    @include flex;
    border-radius: 2px;
    overflow: hidden;

    &-edit,
    &-archive,
    &-delete {
      @extend %badge-sm-base;
    }

    &-edit,
    &-archive {
      background-color: $medium-blue;
    }

    &-edit {
      border-right: 1px solid rgba($light-blue, 0.2);
    }

    &-delete {
      background-color: $red;
    }
  }
}

.badge-md {
  &-edit,
  &-archive,
  &-delete,
  &-emoji-on,
  &-emoji-off {
    @extend %badge-md-base;
  }

  &-edit,
  &-archive {
    margin-right: 8px;
    background-color: $medium-blue;
  }

  &-delete {
    background-color: $red;
  }

  &-emoji-on,
  &-emoji-off {
    margin-bottom: 8px;
  }

  &-emoji-on {
    color: $primary;
    background-color: $light-blue;
  }

  &-emoji-off {
    background-color: $sub-bg;
  }
}
