%btn-base {
  @include inline-flex;
  flex-wrap: wrap;
  padding: 0 16px;
  border-radius: 2px;
}

.category {
  @extend %btn-base;
  height: 36px;
  width: auto;
  background-color: $light-blue;
  transition: opacity 350ms ease-in-out;

  &-emoji {
    @include flex;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    overflow: hidden;
    object-fit: cover;
  }

  &-text {
    @include text-style(14, $primary);
    display: inline-block;
  }
}
