.list-item {
  @include flex(space);
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid rgba($primary, 0.1);

  &:last-child {
    border-bottom: 0;
  }

  .list-content {
    @include flex;
    flex-grow: 1;

    .list-emoji {
      @include flex;
      margin-right: 8px;
      overflow: hidden;

      img {
        display: block;
        width: 18px;
        height: 18px;
        object-fit: cover;
      }
    }

    .list-text {
      @include text-style(16, $primary);
      flex-grow: 1;
      margin-right: 4px;
      width: 198px;
      color: $primary;
    }
  }

  @include responsive(T) {
    .list-content {
      .list-text {
        width: 227px;
      }
    }
  }

  @include responsive(D) {
    .list-content {
      .list-text {
        width: 341px;
      }
    }
  }
}
