.list-group {
  $badge-width: 30px;

  .list-item {
    @include flex(space);
    width: 100%;
    padding: 16px 0;

    .list-content {
      @include inline-flex;

      .list-emoji {
        @include flex;
        margin-right: 4px;
        overflow: hidden;

        img {
          width: 18px;
          height: 18px;
          object-fit: cover;
        }
      }

      .list-text {
        width: 198px;
      }
    }
  }

  .list-badges {
    @include flex(end);
    width: 100%;

    .badge-group {
      position: relative;
      flex-shrink: 1;

      .badge-more {
        &.is-active {
          display: none;
          position: absolute;
        }
      }

      .badge-edit,
      .badge-archive,
      .badge-delete {
        display: none;
        position: absolute;
        top: 0;
        right: -100000000px;

        &.is-active {
          @include inline-flex;
          position: static;
        }
      }
    }
  }

  @include responsive(T) {
    .list-item {
      .list-content {
        .list-emoji {
          margin-right: 4px;
        }

        .list-text {
          width: 227px;
        }
      }

      .list-badges {
        .badge-text {
        }
      }
    }
  }

  @include responsive(D) {
    .list-item {
      .list-content {
        .list-text {
          width: 341px;
        }
      }
    }
  }
}
