<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slabo+27px&family=Ultra&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>components</title>
  </head>
  <body>
    <button class="btn-category" type="button">
      <img
        class="emoji"
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/eyes_1f440.png"
        alt="eyes emoji"
        aria-hidden
      />category
    </button>

    <button class="btn-add" type="submit">add</button>

    <div class="badge-group">
      <button class="badge badge-more sm-only" type="button">
        <a class="badge-content">
          <i class="ic-more badge-icon"></i>
        </a>
      </button>
      <button class="badge badge-edit" type="button">
        <a class="badge-content">
          <i class="ic-edit sm-only badge-icon"></i>
          <p class="sm-hidden badge-text">edit</p>
        </a>
      </button>
      <button class="badge badge-archive" type="button">
        <a class="badge-content">
          <i class="ic-save sm-only badge-icon"></i>
          <p class="sm-hidden badge-text">archive</p>
        </a>
      </button>
      <button class="badge badge-delete" type="button">
        <a class="badge-content">
          <i class="ic-rubbish sm-only badge-icon"></i>
          <p class="sm-hidden badge-text">delete</p>
        </a>
      </button>
    </div>

    <div class="list-group">
      <div class="list-item">
        <div class="list-content">
          <div class="list-emoji">
            <img
              src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/sparkles_2728.png"
              alt="sparkles emojipedia"
            />
          </div>
          <p class="list-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit
          </p>
        </div>

        <div class="badge-group">
          <button class="badge badge-more sm-only" type="button">
            <a class="badge-content">
              <i class="ic-more badge-icon"></i>
            </a>
          </button>
          <button class="badge badge-edit" type="button">
            <a class="badge-content">
              <i class="ic-edit sm-only badge-icon"></i>
              <p class="sm-hidden badge-text">edit</p>
            </a>
          </button>
          <button class="badge badge-archive" type="button">
            <a class="badge-content">
              <i class="ic-save sm-only badge-icon"></i>
              <p class="sm-hidden badge-text">archive</p>
            </a>
          </button>
          <button class="badge badge-delete" type="button">
            <a class="badge-content">
              <i class="ic-rubbish sm-only badge-icon"></i>
              <p class="sm-hidden badge-text">delete</p>
            </a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
