<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slabo+27px&family=Ultra&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>components</title>
  </head>
  <body>
    <button class="btn-category" type="button">
      <img
        class="emoji"
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/eyes_1f440.png"
        alt="eyes emoji"
        aria-hidden
      />category
    </button>

    <button class="btn-add" type="submit">add</button>

    <div class="badge-group">
      <div class="badge-sm sm-only">
        <button class="badge badge-sm-more" type="button">
          <i class="ic-more"></i>
        </button>
        <div class="badge-sm-hidden">
          <button class="badge badge-sm-hidden-edit" type="button">
            <i class="ic-edit"></i>
          </button>
          <button class="badge badge-sm-hidden-archive" type="button">
            <i class="ic-save"></i>
          </button>
          <button class="badge badge-sm-hidden-delete" type="button">
            <i class="ic-rubbish"></i>
          </button>
        </div>
      </div>

      <div class="badge-md sm-hidden">
        <button class="badge badge-md-edit" type="button">edit</button>
        <button class="badge badge-md-archive" type="button">archive</button>
        <button class="badge badge-md-delete" type="button">delete</button>
      </div>
    </div>

    <div class="list-group">
      <div class="list-empty">
        <p class="empty-text">
          list is now empty,<br />
          but full of posibilities:)
        </p>
      </div>

      <div class="list-item">
        <div class="list-content">
          <div class="list-emoji">
            <img
              src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/sparkles_2728.png"
              alt="sparkles emojipedia"
            />
          </div>
          <p class="list-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum
            dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit
            amet consectetur adipisicing elit Lorem ipsum dolor sit amet
            consectetur adipisicing elit
          </p>
        </div>

        <div class="badge-group">
          <div class="badge-sm sm-only">
            <button class="badge badge-sm-more" type="button">
              <i class="ic-more"></i>
            </button>
            <div class="badge-sm-hidden">
              <button class="badge badge-sm-hidden-edit" type="button">
                <i class="ic-edit"></i>
              </button>
              <button class="badge badge-sm-hidden-archive" type="button">
                <i class="ic-save"></i>
              </button>
              <button class="badge badge-sm-hidden-delete" type="button">
                <i class="ic-rubbish"></i>
              </button>
            </div>
          </div>

          <div class="badge-md sm-hidden">
            <button class="badge badge-md-edit" type="button">edit</button>
            <button class="badge badge-md-archive" type="button">
              archive
            </button>
            <button class="badge badge-md-delete" type="button">delete</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
