@font-face {
  font-family: "list-it-up";

  src: url("/assets/fonts/list-it-up.eot?4j207w");
  src: url("/assets/fonts/list-it-up.eot?4j207w#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/list-it-up.ttf?4j207w") format("truetype"),
    url("/assets/fonts/list-it-up.woff?4j207w") format("woff"),
    url("/assets/fonts/list-it-up.svg?4j207w#list-it-up") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"],
[class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "list-it-up" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-more:before {
  content: "\e900";
}
.ic-edit:before {
  content: "\e901";
}
.ic-refresh:before {
  content: "\e902";
}
.ic-save:before {
  content: "\e903";
}
.ic-rubbish:before {
  content: "\e904";
}
