%badge-base {
  @include flex;
  @include text-style(9, $light-blue);
  font-family: $font-title;
  color: $light-blue;
}

%badge-sm-base {
  width: 30px;
  height: 100%;

  padding: 0 8px;
  transition: opacity 350ms ease-in-out;

  i {
    font-size: 14px;
  }

  &:active {
    opacity: 0.4;
  }
}

%badge-md-base {
  padding: 4px 8px;
  border-radius: 2px;
  transition: opacity 350ms ease-in-out;

  &:hover {
    opacity: 0.4;
  }
}

%badge-title-base {
  padding: 0 8px;
  border-radius: 2px;
  transition: opacity 350ms ease-in-out;

  &:hover {
    opacity: 0.4;
  }
}

.badge-group {
  @include flex;
  height: 100%; // NOTE: will be replaced height of list-item
}

.badge-title {
  @include flex;
}

.badge {
  @extend %badge-base;
  height: 100%;
}

.badge-sm {
  @include column-flex;
  height: 100%;
  margin: auto auto;

  &-more {
    @extend %badge-sm-base;
    display: none;
    opacity: 0;
    border-radius: 2px;
    background-color: $medium-blue;
  }

  &-hidden {
    @include flex;
    opacity: 1;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;

    &-arrow-back,
    &-edit,
    &-archive,
    &-delete {
      @extend %badge-sm-base;
    }

    &-edit,
    &-archive {
      background-color: $medium-blue;
    }

    &-arrow-back {
      background-color: $light-blue;

      .ic-arrow-back {
        color: $primary;
      }
    }

    &-edit {
      border-right: 1px solid rgba($light-blue, 0.2);
    }

    &-delete {
      background-color: $red;
    }
  }
}

.badge-md {
  &-edit,
  &-archive,
  &-delete,
  &-emoji-on,
  &-emoji-off {
    @extend %badge-md-base;
  }

  &-edit,
  &-archive {
    margin-right: 8px;
    background-color: $medium-blue;
  }

  &-delete {
    background-color: $red;
  }

  &-emoji-on,
  &-emoji-off {
    margin-bottom: 8px;
  }

  &-emoji-on {
    color: $primary;
    background-color: $light-blue;
  }

  &-emoji-off {
    background-color: $sub-bg;
  }
}

.badge-title {
  &-edit,
  &-delete,
  &-list-counter,
  &-archived-counter {
    @extend %badge-title-base;
    height: 24px;
  }

  &-edit {
    background-color: $light-yellow;
    margin-right: 8px;

    .ic-edit {
      font-size: 14px;
      color: $primary;
    }
  }

  &-delete {
    background-color: $red;

    .ic-rubbish {
      font-size: 14px;
      color: $light-yellow;
    }
  }

  &-list-counter {
    color: $medium-blue;
    background-color: $light-blue;
  }

  &-archived-counter {
    color: $light-blue;
    background-color: $sub-bg;
  }
}
