.contents-header {
  @include flex(between);
  margin-bottom: 32px;

  &-title {
    @include inline-flex;
    @include text-style(16, $primary);
    font-family: $font-title;
    height: 24px;
    width: auto;

    .emoji {
      display: block;
      font-size: 24px;
      width: 24px;
      height: 24px;
      padding-top: 2px; // NOTE: visual alignment
      margin-right: 8px;
      object-fit: cover;
    }
  }

  @include responsive(T) {
    &-title {
      @include text-style(24);
      height: 36px;

      .emoji {
        display: block;
        font-size: 36px;
        width: 36px;
        height: 36px;
        padding-top: 6px; // NOTE: visual alignment
      }
    }
  }

  @include responsive(D) {
    &-title {
      @include text-style(36);
      height: 52px;

      .emoji {
        display: block;
        font-size: 52px;
        width: 52px;
        height: 52px;
        padding-top: 6px; // NOTE: visual alignment
      }
    }
  }
}
