.header {
  $category-button-padding: 16px;

  &-title {
    @include flex;
    margin-bottom: 36px;

    &-text {
      @include inline-flex;
      @include text-style(24, $light-blue);
      font-family: $font-title;
      height: 100%;
    }

    &-emoji {
      @include inline-flex;
      margin-right: 8px;
      width: 36px;
      height: 36px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-category-button-group {
    @include no-scrollbar;
    height: 36px;
    padding: 0 ($grid-margin);
    margin-left: -#{$grid-margin};
    margin-bottom: 36px;
    overflow-x: auto;
    white-space: nowrap;
    background-color: transparent;

    &-wrapper {
      transition: transform 300ms ease-in-out;
    }

    &.is-empty {
      .header-category-button-group {
        &-wrapper {
          @include flex;
          transform: translateX(15px);

          .btn-category-new {
            margin-right: 0;
          }
        }
      }
    }

    .btn-category {
      margin-right: $category-button-padding;

      &-new {
        margin-right: $grid-margin;
      }
    }
  }

  @include responsive(T) {
    &-title {
      &-text {
        @include text-style(36);
      }

      &-emoji {
        width: 52px;
        height: 52px;
      }
    }

    &-category-button-group {
      height: auto;
      padding: 0;
      margin-left: 0;
      white-space: normal;

      &-wrapper {
        @include flex;
        flex-wrap: wrap;
        gap: $category-button-padding;
      }

      .btn-category {
        margin-right: 0;

        &-new {
          margin-right: 0;
        }
      }
    }
  }

  @include responsive(D) {
    &-title {
      margin-bottom: 72px;
    }

    &-category-button-group {
      margin-bottom: 72px;
    }
  }
}
