.list-group {
  @include column-flex(center, start);
  height: 100%;
  padding: 16px 8px;
  background-color: $light-yellow;
  overflow: hidden;

  &.is-empty {
    .list-empty {
      @include flex;
    }
  }
}
