$primary: #2f4858;
$highlight: #f5d042;
$sub-highlight: #00beff;
$bg: #b6d0e4;
$sub-bg: #748ea0;
$medium-blue: #5f788a;
$light-medium-blue: #748ea0;
$light-blue: #f1f1e6;
$light-yellow: #fef9ee;
$red: #eb5757;
